<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="Debug" type="Roslyn.Generator.UnitTests.Diagnostics.DebugTraceListener, Roslyn.Generator.UnitTests" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
